.detail {
    flex: 1;

    .user{
        padding: 23px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 13px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
        border-radius: 0 0 25px 20px;
        border-bottom: 1.5px solid #dddddd35;

        img{
            width: 100px;
            height: 100px;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .info{
        padding: 10px 15px;
        display: flex;
        flex-direction: column;
        gap: 7px;

        .option{
            
            .title{
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 12px;

                img{
                    width: 30px;
                    height: 30px;
                    background-color: rgba(17, 25, 40, 0.3);
                    padding: 10px;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }

            .photos{
                display: flex;
                flex-direction: column;
                gap: 8px;
                margin-top: 15px;

                .photoItem{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    
                    .photoDetail{
                        display: flex;
                        align-items: center;
                        gap: 8px;


                        img {
                            width: 35px;
                            height: 35px;
                            border-radius: 5px;
                            object-fit: cover;
                        }

                        span{
                            font-size: 12px;
                            color: lightgray;
                            font-weight: 300;
                        }
                    }

                    .icons{
                        width: 30px;
                        height: 30px;
                        background-color: rgba(17, 25, 40, 0.3);
                        padding: 10px;
                        border-radius: 50%;
                        cursor: pointer;
                    }
                }

            }
            
        }
    }
    button{
        padding: 7px;
        background-color: rgba(230, 74, 105, 0.553);
        border: none;
        color: white;
        border-radius: 5px;
        cursor: pointer;

        &:hover{
            background-color: rgba(244, 30, 72, 0.753);
            font-weight: 500;
        }

        &.logout{
            padding: 7px 20px;
            background-color: #1a73e8;

            &:hover{
                color: white;
                font-weight: 500;
                background-color: #0e62d0;
            }
        }

    }
}