.login{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 100px;

    .item{
        flex: 1;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        h2{
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            padding: 10px;
        }

        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;

            input{
                padding: 15px;
                width: 40%;
                border: none;
                outline: none;
                background-color: rgba(17, 25, 40, 0.6);
                border-radius: 5px;
                color: white;
                font-weight: bold;
            }

            label{
                width: 100%;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                text-decoration: underline;
                gap: 50px;
                
                                
                img{
                    width: 50px;
                    height: 50px;
                    border-radius: 10px;
                    object-fit: cover;
                    opacity: 0.6;
                }
            }

            button{
                width: 40%;
                padding: 15px;
                border: none;
                outline: none;
                background-color: #1f8ef1;
                border-radius: 5px;
                color: white;
                font-weight: 500;

                &:hover{
                    background-color: #0360bd;
                }

            }
        }
    }

    .separator{
        width: 2px;
        height: 70%;
        background-color: #dddddd35;
        border-radius: 5px;
    }
}